{% extends "narodenie-dietata/layout_step_by_step_nav.html" %}

{% block mainContent %}
<h1 class="govuk-heading-xl">
  Ďalšie príplatky a príspevky
</h1>

<p>
  <div class="govuk-accordion" data-module="accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Príspevok na viac súčasne narodených detí
        </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
<p class='govuk-body'>
  Príspevok na viac súčasne narodených detí je štátna sociálna dávka, ktorá slúži na pokrytie zvýšených výdavkov v súvislosti so starostlivosťou o súčasne
  narodené tri alebo viac detí alebo v priebehu dvoch rokov opakovane narodené dvojčatá, alebo viac detí súčasne. Príspevok sa rodičom poskytuje na každé dieťa
  <b>v kalendárnom roku iba raz</b>.
</p>
<p>
<ul class="govuk-list govuk-list--bullet">
  <li>podaním <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/z_o_prisp_rodicom_trojciat_pdf.pdf" class="govuk-link" target="_blank">písomnej žiadosti</a>
    na úrade práce, sociálnych vecí a rodiny príslušnom podľa miesta jej trvalého pobytu
  </li>
  <li>prostredníctvom <a href="https://portal.employment.gov.sk/eform/prispevokrodicom/" class="govuk-link" target="_blank">elektronickej žiadosti</a>
    podpísanej kvalifikovaným elektronickým podpisom
  </li>
</ul>
</p>
</div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Prídavok na dieťa
            </span>
    </h2>
  </div>
  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
    <p class='govuk-body'>
      Prídavok na dieťa je štátna sociálna dávka, ktorou štát prispieva oprávnenej osobe <b>na výchovu a výživu nezaopatreného dieťaťa</b>. Prídavok na dieťa je
      vyplácaný mesačne, najdlhšie <b>do 25 rokov veku dieťaťa</b>.
    </p>
    <p>
    <ul class="govuk-list govuk-list--bullet">
      <li>podaním <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/ziadost_o_pnd_pdf.pdf" class="govuk-link" target="_blank">písomnej žiadosti</a> na úrade
        práce, sociálnych vecí a rodiny príslušnom podľa miesta jej trvalého pobytu
      </li>
      <li>prostredníctvom <a href="https://portal.employment.gov.sk/eform/pridavoknadieta/" class="govuk-link" target="_blank">elektronickej žiadosti</a>
        podpísanej kvalifikovaným elektronickým podpisom
      </li>
    </ul>
    </p>
    <div class="govuk-inset-text">
      Poberateľ prídavku na dieťa je povinný <b>po dovŕšení troch rokov</b> veku nezaopatreného dieťaťa oznámiť prostredníctvom tlačiva
      <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/Oznamenie_o_poskytovani_starostlivosti_o_dieta_na_ucely_pridavku_na_dieta.pdf" class="govuk-link"
         target="_blank">Oznámenie o poskytovaní starostlivosti o dieťa na účely prídavku na dieťa</a>
      príslušnému úradu práce, sociálnych vecí a rodiny písomne (osobne či poštou) alebo cez elektronickú službu
      <a href="https://portal.employment.gov.sk/eform/pridavoknadieta/" class="govuk-link" target="_blank">Všeobecnej agendy</a>
      (vyžaduje kvalifikovaný elektronický podpis), akým spôsobom a kde bude zabezpečovaná starostlivosť o toto nezaopatrené dieťa do začiatku plnenia povinnej
      školskej dochádzky.
    </div>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Príplatok k prídavku na dieťa
            </span>
    </h2>
  </div>
  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
    <p class='govuk-body'>
      Príplatok k prídavku na dieťa je štátna sociálna dávka, ktorou štát pripláca oprávnenej osobe k prídavku na dieťa na výchovu a výživu nezaopatreného <b>dieťaťa,
      na ktoré nemožno uplatniť daňový bonus</b> podľa osobitného predpisu. Vypláca sa <b>mesačne</b> spoločne s prídavkom na dieťa.
    </p>
    <p>
    <ul class="govuk-list govuk-list--bullet">
      <li>podaním <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/z_o_pripl_k_pnd_pdf.pdf" class="govuk-link" target="_blank">písomnej žiadosti</a> na
        úrade práce, sociálnych vecí a rodiny príslušnom podľa miesta jej trvalého pobytu alebo cez elektronickú službu <a
                href="https://portal.employment.gov.sk/eform/pridavoknadieta/" class="govuk-link" target="_blank">Všeobecnej agendy</a>
      </li>
    </ul>
    </p>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Rodičovský príspevok
            </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
    <p class='govuk-body'>
      Rodičovský príspevok je štátna sociálna dávka, ktorou štát prispieva oprávnenej osobe na zabezpečenie riadnej starostlivosti o <b>dieťa do troch rokov</b>
      (šesť rokov, ak má dieťa dlhodobo nepriaznivý zdravotný stav). Príspevok sa vypláca <b>mesačne</b>.
    </p>
    <p>
    <ul class="govuk-list govuk-list--bullet">
      <li>podaním <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/z_o_rp_pdf.pdf" class="govuk-link" target="_blank">písomnej žiadosti</a> na
        úrade práce, sociálnych vecí a rodiny príslušnom podľa miesta jej trvalého pobytu
      </li>
      <li>
        podaním <a href="https://portal.employment.gov.sk/eform/rodicovskyprispevok/" class="govuk-link" target="_blank">elektronickej žiadosti</a> podpísanej
        kvalifikovaným elektronickým podpisom
      </li>
    </ul>
    </p>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Príspevok na starostlivosť o dieťa
            </span>
    </h2>
  </div>
  <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <p class='govuk-body'>
      Príspevok na starostlivosť o dieťa sa poskytuje na <b>dieťa do troch rokov</b>
      (šesť rokov, ak má dieťa dlhodobo nepriaznivý zdravotný stav). Príspevok sa vypláca <b>mesačne</b>.
    </p>
    <p>
    <ul class="govuk-list govuk-list--bullet">
      <li>podaním <a href="https://www.slovensko.sk/_img/CMS4/Narodenie/z_o_prisp_na_starostl_o_dieta_pdf.pdf" class="govuk-link" target="_blank">písomnej
        žiadosti</a> na úrade práce, sociálnych vecí a rodiny príslušnom podľa miesta jej trvalého pobytu
      </li>
      <li>
        podaním <a href="https://portal.employment.gov.sk/eform/prispevoknastarostlivostodieta/" class="govuk-link" target="_blank">elektronickej žiadosti</a>
        podpísanej kvalifikovaným elektronickým podpisom
      </li>
    </ul>
    </p>
  </div>
</div>
</div>
</p>
{{
govukButton({
  text: "Ďalej",
  href: serviceUrl + "/cestovny-doklad",
  classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
})
}}
{% endblock %}
